<%= stylesheet_link_tag "application",media: "all", "data-turbolinks-track": "reload" %>
<div class = "articles_main_contents" >
<h1>Tech</h1>

    <p class="tech_blog_title">CentOSにSpringBootアプリケーションをデプロイする方法</p>
    <p class="tech_blog_date">2024.3.1</p>
    <article>
        <p class="tech_text">今回はMariaDBとphpMyAdminをインストールして設定します。前回同様の環境です。〜さくらのVPS 1Gプラン〜メモリ：1GCPU：仮想2Coreストレージ：HDD 100GBOS：CentOS 7（カスタムOS）仮として、アカウント名はrootもしくはabc123、ドメインはabc.comとします。</p>
        <script src="https://gist.github.com/syeimee/a7833414b4d039bd17aff2cf871ad77c.js"></script>
          <div class="row">
          <div class="moreLink">
            <div class=" moreLinkText">はじめに
              <div class="lineArrow"></div>
            </div>
          </div>
        </div>
        <p class="tech_text">今回はMariaDBとphpMyAdminをインストールして設定します。前回同様の環境です。〜さくらのVPS 1Gプラン〜メモリ：1GCPU：仮想2Coreストレージ：HDD 100GBOS：CentOS 7（カスタムOS）仮として、アカウント名はrootもしくはabc123、ドメインはabc.comとします。</p>
    
    </article>



</div> 